{% extends 'base.html' %}
{% load static %}



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'leaderboardstyle.css' %}">
<div class="container">
    <div class="leaderboard">
        <div class="leaderboard-title">
            <h2>Leaderboard</h2>
        </div>
        <ul class="leaderboard-list">
            {% for object in objects %}
            <li class="leaderboard-item">
                <span class="rank">{{ forloop.counter }}</span>
                <span class="username" >{{ object.username }}</span>
                <span class="total-score">{{ object.total_score }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
