{% extends 'base.html' %}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'description.css' %}">
  <div class="problem-container">
    <h1 class="problem-title">{{ problem.title }}</h1>
    <p class="problem-statement">{{ problem.statement }}</p>
    <!-- Add any other fields you want to display -->

    <h3 class="solution-title">Submit Solution</h3>
    <form method="POST" action="{% url 'compile_code' problem.id %}" class="solution-form">
      {% csrf_token %}
      <label for="language" class="form-label">Language:</label>
      <select name="language" id="language" class="form-select">
        <option value="C++">C++</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
      </select>
      <br><br>
      <label for="code" class="form-label">Code:</label>
      <textarea name="code" id="code" rows="10" cols="50" class="form-textarea"></textarea>
      <br><br>
      <input type="submit" value="Submit" class="form-submit">
    </form>
  </div>
{% endblock %}

{% comment %} //label and id are associated for frontend and name is to match with the attributes on the server side {% endcomment %}