{% extends 'base.html' %}

{% block content %}
  <h1>{{ problem.title }}</h1>
  <p>{{ problem.statement }}</p>
  <!-- Add any other fields you want to display -->


  <h1>Submit Solution</h1>
  <form method="POST" action="{% url 'compile_code' problem.id %}">
    {% csrf_token %}
    <br><br>
    <label for="language">Language:</label>
    <select name="language" id="language">
      <option value="C++">C++</option>
      <option value="Python">Python</option>
      <option value="Java">Java</option>
    </select>
    <br><br>
    <label for="code">Code:</label>
    <textarea name="code" id="code" rows="10" cols="50"></textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
    
{% endblock %}