{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'problems.css' %}">
  <div class="container">
    <h1 class="pagetitle">Problems</h1>
    <ul class="problem-list">
      {% for problem in problems %}
        <li class="problem">
          <a href="{% url 'problem_description' problem.id %}" class="problem-link">
            <span class="problem-name">{{ problem.title }}</span>
            <span class="difficulty">{{ problem.difficulty }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
