/* Reset some default browser styles */
body, h1, h2, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-top: 50px; /* Add a top margin for spacing */
  }
  
  .pagetitle {
    color: #4466cc;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .problem-list {
    padding: 0;
    margin: 20px 0;
  }
  
  .problem {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .problem:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
  }
  
  .problem-link {
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .problem-name {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
  }
  
  .difficulty {
    background-color: #ffc107;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
  }
  